/* All @import statements must come first */
@import '../components/card.css';
@import '../components/button.css';
@import '../components/form.css';

/* Subscribe page styles */
.subscribe {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
}
