{{ define "page-css" }}
  <link rel="stylesheet" href="/static/css/components/button.css" />
  <link rel="stylesheet" href="/static/css/components/card.css" />
  <link rel="stylesheet" href="/static/css/components/table.css" />
  <link rel="stylesheet" href="/static/css/components/badge.css" />
  <link rel="stylesheet" href="/static/css/components/modal.css" />
  <link rel="stylesheet" href="/static/css/components/form.css" />
{{ end }}

{{ define "page-actions" }}
  <a href="/admin" class="button button--primary">Back to Admin Dashboard</a>
{{ end }}

{{ define "main" }}
  <div class="card">
    <h2 class="card__title">Subscription Details</h2>
    <div class="card__actions">
      <button
        class="button button--primary"
        x-data
        @click="$dispatch('add-subscription')"
      >
        Add Subscription
      </button>
    </div>
    <div class="card__content">
      {{ with .Subscriptions }}
        <table class="table">
          <thead>
            <tr class="table__tr table__tr--no-hover">
              <th>Subscription ID</th>
              <th>Stripe Subscription ID</th>
              <th>Created At</th>
              <th>Is Active</th>
              <th>Is Free</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{ range . }}
              <tr class="table__tr">
                <td class="table__td">{{ .ID }}</td>
                <td class="table__td">{{ .StripeSubscriptionID }}</td>
                <td class="table__td">{{ .CreatedAt }}</td>
                <td class="table__td">{{ .IsActive }}</td>
                <td class="table__td">{{ .IsFree }}</td>
                <td class="table__td">
                  <form
                    hx-delete="/admin/organisations/{{ $.Organisation.ID }}/subscriptions/{{ .ID }}"
                    hx-confirm="Are you sure you want to delete this subscription?"
                    hx-target="closest tr"
                    hx-swap="outerHTML"
                    @htmx:response-error.camel="toastError($event.detail.xhr.response)"
                    @htmx:custom:success="toastSuccess('Subscription deleted successfully')"
                  >
                    <button class="button button--error">Delete</button>
                  </form>
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      {{ else }}
        <tr class="table__tr">
          <td class="table__td" colspan="4">No subscriptions found</td>
        </tr>
      {{ end }}
    </div>
  </div>

  <dialog
    x-data
    @add-subscription.window="$el.showModal()"
    x-ref="modal"
    class="modal"
  >
    <button
      class="modal__close button button--sm button--square button--ghost"
      @click="$refs.modal.close()"
    >
      <i width="16" height="16" data-feather="x"></i>
    </button>
    <h2 class="modal__title">Add Subscription</h2>
    <div class="modal__content">
      <form
        hx-post="/admin/organisations/{{ .Organisation.ID }}/subscriptions"
        class="form"
        @form-submit.window="$el.requestSubmit()"
        @htmx:response-error.camel="toastError($event.detail.xhr.response)"
        @custom:submit-success="toastSuccess('Subscription added successfully')"
      >
        <div class="form__group form__group--no-mt">
          <label class="form__label" for="stripe_subscription_id"
            >Stripe Subscription ID</label
          >
          <input
            class="form__input"
            type="text"
            id="stripe_subscription_id"
            name="stripe_subscription_id"
            autofocus
          />
        </div>
        <div class="form__group">
          <label class="form__label">
            <input type="checkbox" name="is_active" value="true" />
            Is Active
          </label>
        </div>
        <div class="form__group form__group--no-mb">
          <label class="form__label">
            <input type="checkbox" name="is_free" value="true" />
            Is Free
          </label>
        </div>
      </form>
    </div>
    <div class="modal__footer">
      <button class="button button--primary" @click="$dispatch('form-submit')">
        Add
      </button>
    </div>
  </dialog>
{{ end }}
