{{ define "page-css" }}
  <link rel="stylesheet" href="/static/dist/pages/invite-accept.css" />
{{ end }}

{{ define "page-js" }}
{{ end }}

{{ define "main" }}
  <div class="card" x-data="form">
    <h2 class="card__title">Accept Invite for {{ .Org }}</h2>
    <form
      class="form"
      hx-post="/invite-accept/{{ .Token }}"
      hx-swap="none"
      @htmx:response-error.camel="toastError($event.detail.xhr.response)"
    >
      <div class="form__group">
        <label class="form__label" for="email">Email</label>
        <input
          class="form__input"
          type="email"
          id="email"
          name="email"
          value="{{ .Email }}"
          required
          disabled
        />
      </div>
      <div class="form__group">
        <label class="form__label" for="password">Password</label>
        <input
          class="form__input"
          type="password"
          id="password"
          name="password"
          required
          autofocus
        />
      </div>
      <div class="form__group">
        <label class="form__label" for="confirm-password"
          >Confirm Password</label
        >
        <input
          class="form__input"
          type="password"
          id="confirm-password"
          name="confirm"
          required
        />
      </div>
      <div class="form__group">
        <div class="form__radio">
          <input
            class="form__input"
            type="checkbox"
            id="legal"
            name="legal"
            required
          />
          <label class="form__label" for="legal"
            >I have read and accept the
            <a href="https://announcable.me/terms" target="_blank"
              >Terms and Conditions</a
            >
            as well as the
            <a href="https://announcable.me/privacy" target="_blank"
              >Privacy Policy</a
            ></label
          >
        </div>
      </div>
      <div class="form__group">
        <button class="button button--block button--primary" type="submit">
          Accept Invitation
        </button>
      </div>
    </form>
  </div>
{{ end }}
