{{ define "page-css" }}
  <link rel="stylesheet" href="/static/css/components/card.css" />
  <link rel="stylesheet" href="/static/css/components/form.css" />
  <link rel="stylesheet" href="/static/css/components/button.css" />
{{ end }}

{{ define "page-js" }}
{{ end }}

{{ define "main" }}
  <div class="card" x-data="form">
    <h2 class="card__title">Accept Invite for {{ .Org }}</h2>
    <form
      class="form"
      hx-post="/invite-accept/{{ .Token }}"
      hx-swap="none"
      @htmx:response-error.camel="toastError($event.detail.xhr.response)"
    >
      <div class="form__group">
        <label class="form__label" for="email">Email</label>
        <input
          class="form__input"
          type="email"
          id="email"
          name="email"
          value="{{ .Email }}"
          required
          disabled
        />
      </div>
      <div class="form__group">
        <label class="form__label" for="password">Password</label>
        <input
          class="form__input"
          type="password"
          id="password"
          name="password"
          required
          autofocus
        />
      </div>
      <div class="form__group">
        <label class="form__label" for="confirm-password"
          >Confirm Password</label
        >
        <input
          class="form__input"
          type="password"
          id="confirm-password"
          name="confirm"
          required
        />
      </div>
      <div class="form__group">
        <button class="button button--block button--primary" type="submit">
          Accept Invitation
        </button>
      </div>
    </form>
  </div>
{{ end }}
