{{ define "page-css" }}
  <link rel="stylesheet" href="/static/css/components/card.css" />
  <link rel="stylesheet" href="/static/css/components/button.css" />
  <link rel="stylesheet" href="/static/css/components/form.css" />
  <link rel="stylesheet" href="/static/css/pages/subscribe.css" />
{{ end }}

{{ define "page-js" }}
  <script src="/static/js/pages/settings.js"></script>
{{ end }}

{{ define "main" }}
  <div class="subscribe">
    <div class="card">
      <h2 class="card__title">Subscribe</h2>
      <div class="card__content"></div>
      <form action="/payment/create-checkout-session" method="POST">
        <!-- Add a hidden field with the lookup_key of your Price -->
        <input type="hidden" name="lookup_key" value="Test_Product-b9e5d0d" />
        <button id="checkout-and-portal-button" type="submit" class="button">
          Checkout
        </button>
      </form>
    </div>
    <div class="card">
      <h2 class="card__title">Subscribe</h2>
      <div class="card__content"></div>
      <form action="/payment/create-portal-session" method="POST">
        <input type="hidden" id="session-id" name="session_id" value="" />
        <button id="checkout-and-portal-button" type="submit" class="button">
          Manage your billing information
        </button>
      </form>
    </div>
  </div>
{{ end }}
