{{ define "root" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="/static/media/favicon/apple-touch-icon.png"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="/static/media/favicon/favicon-32x32.png"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="/static/media/favicon/favicon-16x16.png"
      />
      <link rel="manifest" href="/static/media/favicon/site.webmanifest" />
      {{ block "layout-css" . }}{{ end }}
      {{ block "page-css" . }}{{ end }}
      
      <!-- Vendor Bundle CSS (Toastify) -->
      <link rel="stylesheet" type="text/css" href="/static/dist/vendor.css" />
      
      <!-- Vendor Bundle JS (HTMX, Toastify, SweetAlert, Feather) -->
      <script src="/static/dist/vendor.js"></script>
      
      <!-- Alpine.js from CDN with defer -->
      <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
      
      <!-- Plausible Analytics -->
      <script
        defer
        data-domain="app.announcable.me"
        src="https://plausible.danielbenner.de/js/script.js"
      ></script>

      <title>{{ .Title }} | Announcable</title>
    </head>
    <body>
      {{ block "body" . }}
      {{ end }}
      
      <!-- Feather Icons -->
      <script>
        feather.replace();
      </script>
      {{ block "layout-js" . }}{{ end }}
      {{ block "page-js" . }}{{ end }}
    </body>
  </html>
{{ end }}
