.subscription-success {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
}

.subscription-success .card__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
} 