.button {
  padding: var(--gap-sm) var(--gap-md);
  min-width: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--font-family);
  letter-spacing: var(--tracking-lg);
  background-color: var(--color-surface1);
  border-color: var(--color-overlay0);
}

.button:hover {
  filter: brightness(90%);
}

.button:active {
  filter: brightness(80%);
}

.button--sm {
  padding: var(--gap-xs) var(--gap-sm);
  font-size: 1rem;
}

.button--primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-base);
}

.button--success {
  background-color: var(--color-success);
  border-color: var(--color-success);
  color: var(--color-base);
}

.button--error {
  background-color: var(--color-error);
  border-color: var(--color-error);
  color: var(--color-base);
}

.button--ghost {
  background-color: transparent;
  color: var(--color-text);
}

.button--ghost:hover {
  background-color: var(--color-mantle);
}

.button--square {
  aspect-ratio: 1;
  min-width: auto;
  height: 2em;
}

.button--block {
  width: 100%;
  justify-content: center;
}
