.file-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--color-base);
  height: 10em;
  width: 100%;
  cursor: pointer;
}

.file-input__input {
  visibility: hidden;
  position: absolute;
}

.file-input__delete {
  visibility: hidden;
  position: absolute;
}

.file-input__placeholder {
  font-size: var(--font-size-sm);
}

.file-input__preview {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.file-input__preview__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background-color: var(--color-base);
}

.file-input__preview__delete {
  position: absolute;
  top: var(--gap-xs);
  right: var(--gap-xs);
}
