.badge {
  font-size: var(--font-size-sm);
  border-radius: var(--border-radius);
  padding: var(--gap-xs) var(--gap-sm);
  background: var(--color-surface2);
  color: var(--color-subtext0);
  display: inline-flex;
  align-items: center;
  gap: var(--gap-xs);
  font-weight: var(--font-weight-md);
}

.badge--primary {
  background: var(--color-primary-light);
  color: var(--color-primary);
}

.badge--success {
  background: rgba(34, 197, 94, 0.1);
  color: var(--color-success);
}

.badge--error {
  background: rgba(239, 68, 68, 0.1);
  color: var(--color-error);
}
