.button {
  padding: var(--gap-sm) var(--gap-md);
  min-width: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
  border: var(--border-width) solid transparent;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: all 0.15s ease;
  font-family: var(--font-family);
  font-weight: var(--font-weight-md);
  letter-spacing: var(--tracking-lg);
  background-color: var(--color-surface2);
  color: var(--color-text);
}

.button:hover {
  background-color: var(--color-overlay0);
}

.button:active {
  background-color: var(--color-overlay1);
}

.button--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button--sm {
  padding: var(--gap-xs) var(--gap-sm);
  font-size: var(--font-size-sm);
}

.button--primary {
  background-color: var(--color-primary);
  color: var(--color-base);
}

.button--primary:hover {
  background-color: var(--color-primary-hover);
}

.button--primary:active {
  background-color: var(--color-primary-hover);
}

.button--success {
  background-color: var(--color-success);
  color: var(--color-base);
}

.button--success:hover {
  opacity: 0.9;
}

.button--error {
  background-color: var(--color-error);
  color: var(--color-base);
}

.button--error:hover {
  opacity: 0.9;
}

.button--ghost {
  background-color: transparent;
  color: var(--color-text);
}

.button--ghost:hover {
  background-color: var(--color-crust);
}

.button--outline {
  background-color: transparent;
  border-color: var(--color-border);
  color: var(--color-text);
}

.button--outline:hover {
  background-color: var(--color-crust);
}

.button--square {
  aspect-ratio: 1;
  min-width: auto;
  height: 2em;
}

.button--block {
  width: 100%;
  justify-content: center;
}
