.card {
  background-color: var(--color-base);
  padding: var(--gap-md);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--border-color);
  position: relative;
}

.card--no-pad {
  padding: 0;
}

.card--surface {
  background-color: var(--color-surface0);
}

.card__title {
  margin-bottom: var(--gap-md);
  font-size: var(--font-size);
  font-weight: var(--font-weight-md);
  letter-spacing: var(--tracking-lg);
}

.card__actions {
  position: absolute;
  top: var(--gap-md);
  right: var(--gap-md);
}

.card__paragraph {
  margin-top: var(--gap-sm);
  margin-bottom: var(--gap-sm);
  color: var(--color-subtext0);
}

.card__footer {
  margin-top: var(--gap-md);
  padding-top: var(--gap-md);
  border-top: var(--border-width) solid var(--border-color);
}
