.modal {
  background-color: var(--color-base);
  padding: var(--gap-lg);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  position: relative;
  min-width: 24em;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.modal__title {
  font-size: var(--font-size);
  font-weight: var(--font-weight-md);
  padding-bottom: var(--gap-md);
  letter-spacing: var(--tracking-lg);
}

.modal__close {
  position: absolute;
  top: var(--gap-sm);
  right: var(--gap-sm);
}

.modal__footer {
  padding-top: var(--gap-md);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-sm);
}
