.table {
  width: 100%;
  border-collapse: collapse;
}

.table__tr {
  border-bottom: var(--border-width) solid var(--border-color);
}

.table--hide-bottom-border tbody .table__tr:last-child {
  border-bottom: none;
}

.table__th {
  padding: var(--gap-md);
  color: var(--color-overlay2);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-md);
  text-align: left;
  letter-spacing: var(--tracking-lg);
}

.table__td {
  padding: var(--gap-md);
  text-align: left;
}

.table__td--no-pad-y {
  padding-top: 0;
  padding-bottom: 0;
}

.table__tr:hover .table__td {
  background-color: var(--color-crust);
}

.table__tr--no-hover:hover .table__td {
  background-color: inherit;
}

tbody .table__tr:last-child .table__td:first-child {
  border-bottom-left-radius: var(--border-radius);
}

tbody .table__tr:last-child .table__td:last-child {
  border-bottom-right-radius: var(--border-radius);
}

.table--align-right {
  text-align: right;
}
