/* Base styles */
@import '../base/reset.css';
@import '../base/variables.css';

/* Onboard layout styles */
.onboard {
  background-color: var(--color-mantle);
  height: 100vh;
}

.onboard__content {
  max-width: 28em;
  margin: auto;
  padding-top: var(--gap-xl);
}
